<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%= current_page.data.title %></title>

  <%= feed_tag :atom, "/feed.xml", title: "Artisanal Feed" %>

  <script src="https://kit.fontawesome.com/bcb8451e88.js"
          crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Parisienne&family=Patrick+Hand&display=swap" rel="stylesheet">

  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
  <%= yield_content :assets %>
</head>

<body>
  <div class="upper-left">
    <i id="show-sidebar-button" class="fad fa-arrow-square-right"></i>
    <%= link_to "A", "/", class: "artisanal-letter" %>
  </div>

  <div class="headline">
    <h1><%= current_page.data.title %></h1>
  </div>

  <div class="sidebar">
    <nav class="sidebar-links">
      <%= image_tag "https://graph.facebook.com/688626964/picture?type=large",
                    class: "profile-pic",
                    alt: "My profile pic" %>
      <%= link_to "Artisanal", "/", class: "home-link" %>
      <%= link_to "About", "/about", class: "about-link" %>

      <ul class="tags">
        <% blog.tags.each do |tag, articles| %>
          <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
        <% end %>
      </ul>

      <i id="hide-sidebar-button" class="fad fa-arrow-square-left"></i>
    </nav>
    <%= link_to "ARTISANAL", "/", class: "sidebar-header" %>
  </div>

  <div class="main" role="main">
    <%= yield %>
  </div>
</body>

</html>
