<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%= current_page.data.title %></title>

  <%= feed_tag :atom, "/feed.xml", title: "Artisanal Feed" %>

  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>

  <% if content_for?(:assets) %>
    <%= yield_content :assets %>
  <% end %>
</head>

<body>
  <div class="sidebar">
    <%= tag :img,
            class: "profile-pic",
            src: "https://graph.facebook.com/688626964/picture?type=large",
            alt: "My profile pic" %>
    <%= link_to "Artisanal Software", "/", class: "home-link" %>
    <%= link_to "About", "/about", class: "about-link" %>

    <ul class="tags">
      <% blog.tags.each do |tag, articles| %>
        <li><%= link_to "#{tag} (#{articles.size})", tag_path(tag) %></li>
      <% end %>
    </ul>
  </div>

  <div class="main">
    <%= yield %>
  </div>
</body>

</html>
