<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title><%= current_page.data.title %></title>

  <script src="https://kit.fontawesome.com/bcb8451e88.js"
          crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Fira+Sans&display=swap"
        rel="stylesheet">

  <%= stylesheet_link_tag "site" %>
  <%= javascript_include_tag "site" %>
  <%= yield_content :assets %>
</head>

<body>
  <div class="upper-left">
    <i id="show-sidebar-button" class="fad fa-arrow-square-right"></i>
    <%= link_to "", "/", class: "artisanal-letter fad fa-drafting-compass" %>
  </div>

  <header id="headline">
    <h1><%= current_page.data.title %></h1>
  </header>

  <div class="upper-right">
    <%= link_to "", "https://jubishop.com", class: "fas fa-home home-icon" %>
  </div>

  <div class="sidebar">
    <nav class="sidebar-links">
      <% link_to("/", class: "profile-pic-link") { %>
        <%= image_tag "https://graph.facebook.com/688626964/picture?type=large",
                      class: "profile-pic",
                      alt: "My profile pic" %>
      <% } %>
      <%= link_to "About", "/about", class: "about-link" %>

      <div class="left-tags">
        <%= partial :tags %>
      </div>

      <i id="hide-sidebar-button" class="fad fa-arrow-square-left"></i>
    </nav>
    <div class="sidebar-header">
      <%= link_to "RTISANAL", "/"%>
    </div>
  </div>

  <div id="main" role="main">
    <div class="content">
      <%= yield %>
    </div>
  </div>

  <div class="rightbar">
    <%= partial :tags %>
  </div>
</body>

</html>
