---
pageable: true
per_page: 2
title: Artisanal Software
---
<% content_for(:assets) { %>
  <%= stylesheet_link_tag "index" %>
<% } %>

<% page_articles.each { |article| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <%= article.summary(250) %>
<% } %>

<% if paginate && num_pages > 1 %>
  <div class="pagination">
    <% if prev_page %>
      <%= link_to 'Prev', prev_page %>
    <% end %>
    <% if next_page %>
      <%= link_to 'Next', next_page %>
    <% end %>
  </div>
<% end %>
