---
pageable: true
per_page: 2
title: Artisanal Software
---
<% content_for(:assets) { %>
  <%= feed_tag :atom, "/feed.xml", title: "Artisanal Software" %>
  <%= stylesheet_link_tag "index" %>
<% } %>

<% page_articles.each { |article| %>
  <h2><%= link_to article.title, article %> <span><%= article.date.strftime('%b %e') %></span></h2>
  <%= article.summary(250) %>
<% } %>

<%= partial :pagination %>
